body {
  background-image: linear-gradient(#151515, #070707);
  color: white;
}
a.nav-link:hover{
  text-decoration: underline;
  color: #fff;
}
.headervideo {
  margin: 0;
  padding: 0;
}
.video {
  z-index: 1;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  margin-bottom: 3vh;
}
.innervideo {
  padding-top:20vh;
  padding-bottom:70px;
}
.titlemv {
  padding-bottom: 10vh;
}
.centralisation {
  padding-top: 9vh;
}
h4 {
  font-family: 'Cinzel', serif;
  color: #FFF;
  font-size: 24px;
}
.innervideo p {
  margin:0;
  padding:0;
  position:relative;
}
.formules {
  padding-top: 42vh;
  padding-bottom: 15vh;
}
#intro .aligner {
  text-align: left;
}
.card {
  margin-bottom: 2vh;
}
@media (max-width: 430px){
  .formules {
    padding-top: 0vh;
  }
  .centralisation {
    padding-top: 3vh;
  }
  #intro .aligner {
    text-align: center;
  }
}
.formules h1 {
  font-family: 'Cinzel', serif;
  color: red;
}
.formules h2 {
  font-family: 'Cinzel', serif;
}
.formules h3 {
  font-family: 'Cinzel', serif;
}
.formules p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
}
.miniformules h1 {
  font-family: 'Cinzel', serif;
  color: red;
}
.miniformules h2 {
  font-family: 'Cinzel', serif;
}
.miniformules h3 {
  font-family: 'Cinzel', serif;
}
.miniformules p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
}
.card {
  background-color: transparent;
}
.botcash {
  position: absolute;
  bottom: 0%;
  left: 40%;
  padding: auto;
  font-weight: 100;
  font-size: 0.9rem;
}
.mgpls {
  margin-bottom: 10vh;
}
h1{
font-family: 'Cinzel', serif;
text-align: center;
font-size: 60px;
font-weight: 100;
 z-index:3;
 color: #ff003f;
}

p {
  font-family: 'Montserrat', sans-serif;
}

#intro p {
text-align: center;
font-weight: lighter;
}

#intro {
  z-index: 3;
}
.v-wrapper {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}

.v-wrapper video {
  min-height:100%;
  min-width:100%;
  z-index: 1;
}

.h-overlay {
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  background:#151515;
  opacity:0.67;
}

.h-content {
  z-index:2;
  margin: auto;
}


a.nav-link {
color: #ff003f;
width: 220px;
font-weight: lighter;
font-size: 16px;
text-align: center;
background-color: transparent;
}

#intro.container-fluid {
background-color: transparent;
}
.image-frame {
  position:relative;
  z-index:1;
  display:inline-block;
}

.colornav {
background-color: #252525;
}



/*Partie Luc*/
form{
  	background-color: #2c2c2b;
    padding-top: 5vh;
}

button .btn .btn-primary .btn-lg .btn-block .pink{
  border-color: #ff003f;
  background-color: #ff003f;
  font-family: 'Montserrat', sans-serif;
}
.shopping-cart{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}
.product-name a{
  color: #ff003f;
  font-family: 'Montserrat', sans-serif;
}
.shopping-cart.dark{
	background-color: #080808;
}

.shopping-cart .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: #2c2c2b;
}

.shopping-cart .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.shopping-cart .dark .block-heading p{
	opacity:0.8;
}

.shopping-cart .block-heading h1,
form .block-heading h2,
.shopping-cart .block-heading h3 {
  text-align: center;
	margin-bottom:1.2rem;
	color: #ff003f;
  font-family: 'Cinzel', serif;
}

.shopping-cart .items{
	margin: auto;
}

.shopping-cart .items .product{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .items .product .info{
	padding-top: 0px;
	text-align: center;
}

.shopping-cart .items .product .info .product-name{
	font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info{
	font-size: 14px;
	margin-top: 15px;
}

.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input{
    margin: auto;
    width: 80px;
}

.shopping-cart .items .product .info .price{
	margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
 }

.shopping-cart .summary{
    background-color: #2c2c2b;
    opacity: 0.85;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 200;
	padding-top: 20px;
	padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}

.shopping-cart .summary button{
	margin-top: 20px;
}

@media (min-width: 768px) {
	.shopping-cart .items .product .info {
		padding-top: 25px;
		text-align: left;
	}

	.shopping-cart .items .product .info .price {
		font-weight: bold;
		font-size: 22px;
		top: 17px;
	}

	.shopping-cart .items .product .info .quantity {
		text-align: center;
	}
	.shopping-cart .items .product .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: center;
	}
  .footer {
    list-style: none;
    padding-top: 80px;
    font-weight: 400;
    font-size: 17px;
  }
  .footer-line {

  }

  .footer-title {
    font-size: 1rem;
    font-weight: 400;
  }
  .footer-widget ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #636e74;
    display: block;
    font-weight: 200;
  }
  .footer-widget ul li a:hover {
    color: #fff;
  }
  .footer h2{
    color: #ff003f;
    font-family: 'Cinzel', serif;
  }
