h1{
text-align: center;
color: black;
}

pre{
text-align: center;
font-size: large;


}

a.nav-link{
color: red;
width: 220px;
font-weight: bold;
font-size: large;
text-align: center;
background-color: transparent;

}

#intro.container-fluid{
background-color: transparent;
}
